<a href="https://colab.research.google.com/gist/pouyahosseinzadeh/7c5440915380371d79a2436785576f15/sep_data_collection_pipeline_100-b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# COMPLETE and CORRECT

In [ ]:
import pandas as pd

from pandas import read_csv

In [ ]:
GSEP_list = pd.read_csv("/content/sample_data/GSEP_List.csv", header = 0)

In [ ]:
GSEP_list

,sep_index,pp_index,cdaw_sep_id,timestamp,cdaw_start_time,cdaw_max_time,cdaw_evn_max,cme_id,cme_launch_time,cme_1st_app_time,...,m_type2_onset_time,dh_type2_onset_time,noaa-sep_flag,Inst_category,Comments,Notes,Fe_e_p_shock_notes,gsep_notes,slice_start,slice_end
0,gsep_001,psep_012,NaN,1986-02-04 09:25:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,S,NaN,NaN,NaN,AR from LMSAL,1986-02-03 21:25:00,1986-02-04 17:45:00
1,gsep_002,psep_013,NaN,1986-02-05 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,S,NaN,NaN,NaN,AR from LMSAL,1986-02-04 14:00:00,1986-02-06 08:35:00
2,gsep_003,psep_014,NaN,1986-02-06 08:35:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,S,NaN,Spike,NaN,AR from LMSAL,1986-02-05 20:35:00,1986-02-07 13:25:00
3,gsep_004,psep_015,NaN,1986-02-07 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,S,Taken by 6,NaN,NaN,AR from LMSAL,1986-02-07 01:00:00,1986-02-08 22:20:00
4,gsep_005,psep_016,NaN,1986-02-10 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,S,NaN,Spike,NaN,AR from LMSAL,1986-02-10 09:00:00,1986-02-12 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,gsep_337,NaN,cdaw_sep_148,2016-01-02 00:15:00,2016-01-02 00:15:00,2016-01-02 04:50:00,22.0,lasco_26928,2016-01-01 23:09:13,2016-01-01 23:24:00,...,2016-01-01 23:21:00,2016-01-02 00:55:00,1,P,NaN,NaN,NaN,NaN,2016-01-01 12:15:00,2016-01-02 12:45:00
337,gsep_338,NaN,cdaw_sep_149,2017-07-14 04:40:00,2017-07-14 04:40:00,2017-07-14 23:20:00,22.0,lasco_28753,2017-07-14 01:02:31,2017-07-14 01:25:00,...,NaN,NaN,1,P,NaN,NaN,NaN,NaN,2017-07-13 16:40:00,2017-07-16 19:40:00
338,gsep_339,NaN,cdaw_sep_150,2017-09-04 22:30:00,2017-09-04 22:30:00,2017-09-05 19:20:00,210.0,lasco_28869,2017-09-04 20:13:01,2017-09-04 20:36:05,...,NaN,NaN,1,P,NaN,NaN,NaN,NaN,2017-09-04 10:30:00,2017-09-06 12:30:00
339,gsep_340,NaN,cdaw_sep_151,2017-09-06 12:35:00,2017-09-06 12:35:00,2017-09-07 23:25:00,41.0,lasco_28874,2017-09-06 11:54:23,2017-09-06 12:24:00,...,2017-09-06 12:02:00,2017-09-06 12:05:00,1,P,NaN,NaN,NaN,Data corrected for spike,2017-09-06 00:35:00,2017-09-08 14:35:00
340,gsep_341,NaN,cdaw_sep_152,2017-09-10 16:25:00,2017-09-10 16:25:00,2017-09-11 11:40:00,1490.0,lasco_28887,2017-09-10 15:46:33,2017-09-10 16:00:00,...,2017-09-10 15:53:00,NaN,1,P,NaN,NaN,NaN,NaN,2017-09-10 04:25:00,2017-09-13 06:55:00

In [ ]:
non_100 = GSEP_list[GSEP_list['ppf_gt100MeV'].isnull()].index.tolist()  # fl_start_time ... we will exclude the Non 100 MeV Events

In [ ]:
nan_values = GSEP_list[GSEP_list['fl_start_time'].isnull()].index  # fl_start_time   Nan values in events or flares.. each of which we work with
nan_values = nan_values.tolist()

In [ ]:
# For 100 MeV

# combining nan values and Non 100 MeV events to a list to later remove from dataframe
useless = non_100
for f in nan_values:
  useless.append(f)

useless_ = [*set(useless)]  # remove duplicates
useless_.sort() # sort the list

In [ ]:
# for i in GSEP_list['fl_start_time'].isnull():
#   if i == True:
#     print(GSEP_list[GSEP_list['fl_start_time'].isnull()].index)

In [ ]:
GSEP_list = GSEP_list.drop(useless_)   # Remove useless_

In [ ]:
# GSEP_list = GSEP_list.drop([34,  84,  93, 149, 152, 154, 155, 157, 166, 167, 189, 193, 211, 212,
#             215, 222, 229, 240, 253, 255, 268, 269, 280, 284, 285, 286, 288,
#             301, 306, 313, 316, 324, 335])
# # Nans: Starting from zero -- 34, 82, ... missing data: 15 ---

In [ ]:
# GSEP_list = GSEP_list.drop([210, 211, 212])
# Nans: Starting from zero -- 34, 82, ... missing data: 15 ---

In [ ]:
GSEP_list = GSEP_list.reset_index()

In [ ]:
x = GSEP_list['fl_start_time'].tolist()

In [ ]:
def convertStr(s):
  my_x = s[-4]
  if(int(my_x)<5):
     return s[:-4] + '0' + ':00'
  else:
     return s[:-4] + '5' + ':00'

In [ ]:
x[15]

'1989-07-25 08:39:00'

In [ ]:
GSEP_list_all = []
index = 0
for r in x:
  rounded = convertStr(r)
  GSEP_list_all.append(rounded)
  index += 1

In [ ]:
################################################

In [ ]:
GSEP_list_all[98]

'2006-12-14 21:05:00'

In [ ]:
# for Dates before 2011. Cause they changed column names after 2011

import requests
from bs4 import BeautifulSoup
import re

my_dates_sep1 = []
my_links_sep1 = []
for i in GSEP_list_all[0:98]: # because we will have inconsistent column names after the year 2011. We will not consider them.
  
  my_link1 = 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/' + i[0:4] + '/' + i[5:7] + '/'
  
  page1 = requests.get(my_link1)
  bs1 = BeautifulSoup(page1.content, features='lxml')

  my_string1 = []
  for l in bs1.findAll('a', attrs={'href': re.compile("^g")}):
    my_list1 = l.get('href')
    my_string1.append(my_list1)

  my_link = my_link1 + my_string1[0] + 'csv/'    # only considering the first goes. eg.: selecting goes06/ in goes06/ and goes07/

  page = requests.get(my_link)
  bs = BeautifulSoup(page.content, features='lxml')
  my_string = []
  for k in bs.findAll('a', attrs={'href': re.compile("^g")}):
    my_list = k.get('href')
    my_string.append(my_list)
  # print(my_string[0]) # only considering g05_eps_5m_ in g05_eps_5m_ and g05_eps_5m_3s_

  my_sublink = []
  for m in my_string:
    if m[4:7] == 'eps' and m[8:10] == '5m' and m[11:13] != '3s':  #only considering g05_eps_5m_ in g05_eps_5m_ and g05_eps_5m_3s_
      my_sublink.append(m)
  my_last_link = my_link + my_sublink[0] 
  # print(my_last_link)
  my_links_sep1.append(my_last_link)
  my_dates_sep1.append(i)

print(my_links_sep1)  # uae this lst to collect the data later

['https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1986/02/goes05/csv/g05_eps_5m_19860201_19860228.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1986/02/goes05/csv/g05_eps_5m_19860201_19860228.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1986/02/goes05/csv/g05_eps_5m_19860201_19860228.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1986/02/goes05/csv/g05_eps_5m_19860201_19860228.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1986/05/goes05/csv/g05_eps_5m_19860501_19860531.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1988/03/goes06/csv/g06_eps_5m_19880301_19880331.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1988/06/goes06/csv/g06_eps_5m_19880601_19880630.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1988/10/goes06/csv/g06_eps_5m_19881001_19881031.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1988/11/goes06/csv/g06_eps_5m_19881101_19881130.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1988/12/goes06/csv/g06_eps_5m_19881201_19881231.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1988/12/goes06/csv/g06_eps_5m_19881201_19881231.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1989/03/goes06/csv/g06_eps_5m_19890301_19890331.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1989/03/goes06/csv/g06_eps_5m_19890301_19890331.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1989/05/goes06/csv/g06_eps_5m_19890501_19890531.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1989/06/goes06/csv/g06_eps_5m_19890601_19890630.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1989/07/goes06/csv/g06_eps_5m_19890701_19890731.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1989/08/goes06/csv/g06_eps_5m_19890801_19890831.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1989/08/goes06/csv/g06_eps_5m_19890801_19890831.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1989/08/goes06/csv/g06_eps_5m_19890801_19890831.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1989/08/goes06/csv/g06_eps_5m_19890801_19890831.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1989/08/goes06/csv/g06_eps_5m_19890801_19890831.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1989/09/goes06/csv/g06_eps_5m_19890901_19890930.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1989/10/goes06/csv/g06_eps_5m_19891001_19891031.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1989/10/goes06/csv/g06_eps_5m_19891001_19891031.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1989/10/goes06/csv/g06_eps_5m_19891001_19891031.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1989/10/goes06/csv/g06_eps_5m_19891001_19891031.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1989/11/goes06/csv/g06_eps_5m_19891101_19891130.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1989/11/goes06/csv/g06_eps_5m_19891101_19891130.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1990/05/goes06/csv/g06_eps_5m_19900501_19900531.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1990/05/goes06/csv/g06_eps_5m_19900501_19900531.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1990/05/goes06/csv/g06_eps_5m_19900501_19900531.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1990/05/goes06/csv/g06_eps_5m_19900501_19900531.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1990/07/goes06/csv/g06_eps_5m_19900701_19900731.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1991/03/goes06/csv/g06_eps_5m_19910301_19910331.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1991/05/goes06/csv/g06_eps_5m_19910501_19910531.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1991/06/goes06/csv/g06_eps_5m_19910601_19910630.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1991/06/goes06/csv/g06_eps_5m_19910601_19910630.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1991/06/goes06/csv/g06_eps_5m_19910601_19910630.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1991/06/goes06/csv/g06_eps_5m_19910601_19910630.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1991/10/goes06/csv/g06_eps_5m_19911001_19911031.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1992/05/goes06/csv/g06_eps_5m_19920501_19920531.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1992/06/goes06/csv/g06_eps_5m_19920601_19920630.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1992/10/goes06/csv/g06_eps_5m_19921001_19921031.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1992/11/goes06/csv/g06_eps_5m_19921101_19921130.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1993/03/goes06/csv/g06_eps_5m_19930301_19930331.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1993/03/goes06/csv/g06_eps_5m_19930301_19930331.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1994/02/goes06/csv/g06_eps_5m_19940201_19940228.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1994/10/goes06/csv/g06_eps_5m_19941001_19941031.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1997/11/goes08/csv/g08_eps_5m_19971101_19971130.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1997/11/goes08/csv/g08_eps_5m_19971101_19971130.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1998/04/goes08/csv/g08_eps_5m_19980401_19980430.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1998/05/goes08/csv/g08_eps_5m_19980501_19980531.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1998/05/goes08/csv/g08_eps_5m_19980501_19980531.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1998/08/goes08/csv/g08_eps_5m_19980801_19980831.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1998/09/goes08/csv/g08_eps_5m_19980901_19980930.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/1998/11/goes08/csv/g08_eps_5m_19981101_19981130.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2000/06/goes08/csv/g08_eps_5m_20000601_20000630.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2000/07/goes08/csv/g08_eps_5m_20000701_20000731.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2000/07/goes08/csv/g08_eps_5m_20000701_20000731.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2000/09/goes08/csv/g08_eps_5m_20000901_20000930.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2000/10/goes08/csv/g08_eps_5m_20001001_20001031.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2000/11/goes08/csv/g08_eps_5m_20001101_20001130.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2000/11/goes08/csv/g08_eps_5m_20001101_20001130.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2000/11/goes08/csv/g08_eps_5m_20001101_20001130.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2000/11/goes08/csv/g08_eps_5m_20001101_20001130.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2001/01/goes08/csv/g08_eps_5m_20010101_20010131.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2001/04/goes08/csv/g08_eps_5m_20010401_20010430.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2001/04/goes08/csv/g08_eps_5m_20010401_20010430.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2001/04/goes08/csv/g08_eps_5m_20010401_20010430.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2001/04/goes08/csv/g08_eps_5m_20010401_20010430.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2001/04/goes08/csv/g08_eps_5m_20010401_20010430.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2001/04/goes08/csv/g08_eps_5m_20010401_20010430.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2001/05/goes08/csv/g08_eps_5m_20010501_20010531.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2001/06/goes08/csv/g08_eps_5m_20010601_20010630.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2001/09/goes08/csv/g08_eps_5m_20010901_20010930.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2001/10/goes08/csv/g08_eps_5m_20011001_20011031.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2001/11/goes08/csv/g08_eps_5m_20011101_20011130.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2001/11/goes08/csv/g08_eps_5m_20011101_20011130.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2001/12/goes08/csv/g08_eps_5m_20011201_20011231.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2002/04/goes08/csv/g08_eps_5m_20020401_20020430.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2002/08/goes08/csv/g08_eps_5m_20020801_20020831.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2002/08/goes08/csv/g08_eps_5m_20020801_20020831.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2003/05/goes08/csv/g08_eps_5m_20030501_20030531.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2003/05/goes08/csv/g08_eps_5m_20030501_20030531.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2003/10/goes10/csv/g10_eps_5m_20031001_20031031.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2003/10/goes10/csv/g10_eps_5m_20031001_20031031.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2003/10/goes10/csv/g10_eps_5m_20031001_20031031.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2003/11/goes10/csv/g10_eps_5m_20031101_20031130.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2003/11/goes10/csv/g10_eps_5m_20031101_20031130.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2004/09/goes10/csv/g10_eps_5m_20040901_20040930.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2004/11/goes10/csv/g10_eps_5m_20041101_20041130.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2005/01/goes10/csv/g10_eps_5m_20050101_20050131.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2005/01/goes10/csv/g10_eps_5m_20050101_20050131.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2005/06/goes10/csv/g10_eps_5m_20050601_20050630.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2005/08/goes10/csv/g10_eps_5m_20050801_20050831.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2005/09/goes10/csv/g10_eps_5m_20050901_20050930.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2006/12/goes10/csv/g10_eps_5m_20061201_20061231.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2006/12/goes10/csv/g10_eps_5m_20061201_20061231.csv']

In [ ]:
my_df_nsep1 = pd.DataFrame({'Link': my_links_sep1, 'SEP Date': my_dates_sep1})

my_df_nsep1

                                                 Link             SEP Date
0   https://www.ncei.noaa.gov/data/goes-space-envi...  1986-02-06 06:15:00
1   https://www.ncei.noaa.gov/data/goes-space-envi...  1986-02-07 10:10:00
2   https://www.ncei.noaa.gov/data/goes-space-envi...  1986-02-10 20:25:00
3   https://www.ncei.noaa.gov/data/goes-space-envi...  1986-02-14 09:10:00
4   https://www.ncei.noaa.gov/data/goes-space-envi...  1986-05-04 09:35:00
..                                                ...                  ...
93  https://www.ncei.noaa.gov/data/goes-space-envi...  2005-06-16 20:00:00
94  https://www.ncei.noaa.gov/data/goes-space-envi...  2005-08-22 16:45:00
95  https://www.ncei.noaa.gov/data/goes-space-envi...  2005-09-07 17:15:00
96  https://www.ncei.noaa.gov/data/goes-space-envi...  2006-12-06 18:25:00
97  https://www.ncei.noaa.gov/data/goes-space-envi...  2006-12-13 02:10:00

[98 rows x 2 columns]

In [ ]:
GSEP_list_all[99:]

['2011-06-07 06:15:00',
 '2011-08-04 03:40:00',
 '2011-08-09 07:45:00',
 '2011-09-06 22:10:00',
 '2012-01-23 03:35:00',
 '2012-01-27 17:35:00',
 '2012-03-07 00:00:00',
 '2012-03-13 17:10:00',
 '2012-05-17 01:25:00',
 '2012-07-06 23:00:00',
 '2012-07-19 04:15:00']

In [ ]:
import requests
from bs4 import BeautifulSoup
import re

my_dates_sep2 = []
my_links_sep2 = []
for i in GSEP_list_all[99:]: # because we will have inconsistent column names after the year 2011. We will not consider them.
  
  my_link1 = 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/' + i[0:4] + '/' + i[5:7] + '/'
  
  page1 = requests.get(my_link1)
  bs1 = BeautifulSoup(page1.content, features='lxml')

  my_string1 = []
  for l in bs1.findAll('a', attrs={'href': re.compile("^g")}):
    my_list1 = l.get('href')
    my_string1.append(my_list1)

  my_link = my_link1 + my_string1[0] + 'csv/'    # only considering the first goes. eg.: selecting goes06/ in goes06/ and goes07/

  page = requests.get(my_link)
  bs = BeautifulSoup(page.content, features='lxml')
  my_string = []
  for k in bs.findAll('a', attrs={'href': re.compile("^g")}):
    my_list = k.get('href')
    my_string.append(my_list)
  # print(my_string[0]) # only considering g05_eps_5m_ in g05_eps_5m_ and g05_eps_5m_3s_

  my_sublink = []
  for m in my_string:
    if m[4:19] == 'epead_p17ew_5m_':  #only considering g13_epead_p17ew_5m_
      my_sublink.append(m)
  my_last_link = my_link + my_sublink[0] 
  # print(my_last_link)
  my_links_sep2.append(my_last_link)
  my_dates_sep2.append(i)

print(my_links_sep2)  # uae this lst to collect the data later

['https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2011/06/goes13/csv/g13_epead_p17ew_5m_20110601_20110630.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2011/08/goes13/csv/g13_epead_p17ew_5m_20110801_20110831.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2011/08/goes13/csv/g13_epead_p17ew_5m_20110801_20110831.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2011/09/goes13/csv/g13_epead_p17ew_5m_20110901_20110930.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2012/01/goes13/csv/g13_epead_p17ew_5m_20120101_20120131.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2012/01/goes13/csv/g13_epead_p17ew_5m_20120101_20120131.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2012/03/goes13/csv/g13_epead_p17ew_5m_20120301_20120331.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2012/03/goes13/csv/g13_epead_p17ew_5m_20120301_20120331.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2012/05/goes13/csv/g13_epead_p17ew_5m_20120501_20120531.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2012/07/goes13/csv/g13_epead_p17ew_5m_20120701_20120731.csv', 'https://www.ncei.noaa.gov/data/goes-space-environment-monitor/access/avg/2012/07/goes13/csv/g13_epead_p17ew_5m_20120701_20120731.csv']

In [ ]:
my_df_nsep2 = pd.DataFrame({'Link': my_links_sep2, 'SEP Date': my_dates_sep2})

my_df_nsep2

                                                 Link             SEP Date
0   https://www.ncei.noaa.gov/data/goes-space-envi...  2011-06-07 06:15:00
1   https://www.ncei.noaa.gov/data/goes-space-envi...  2011-08-04 03:40:00
2   https://www.ncei.noaa.gov/data/goes-space-envi...  2011-08-09 07:45:00
3   https://www.ncei.noaa.gov/data/goes-space-envi...  2011-09-06 22:10:00
4   https://www.ncei.noaa.gov/data/goes-space-envi...  2012-01-23 03:35:00
5   https://www.ncei.noaa.gov/data/goes-space-envi...  2012-01-27 17:35:00
6   https://www.ncei.noaa.gov/data/goes-space-envi...  2012-03-07 00:00:00
7   https://www.ncei.noaa.gov/data/goes-space-envi...  2012-03-13 17:10:00
8   https://www.ncei.noaa.gov/data/goes-space-envi...  2012-05-17 01:25:00
9   https://www.ncei.noaa.gov/data/goes-space-envi...  2012-07-06 23:00:00
10  https://www.ncei.noaa.gov/data/goes-space-envi...  2012-07-19 04:15:00

In [ ]:
my_df_nsep = my_df_nsep1.append(my_df_nsep2)
my_df_nsep = my_df_nsep.reset_index(drop=True)
my_df_nsep

<ipython-input-59-71e8ab2787f1>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_df_nsep = my_df_nsep1.append(my_df_nsep2)

                                                  Link             SEP Date
0    https://www.ncei.noaa.gov/data/goes-space-envi...  1986-02-06 06:15:00
1    https://www.ncei.noaa.gov/data/goes-space-envi...  1986-02-07 10:10:00
2    https://www.ncei.noaa.gov/data/goes-space-envi...  1986-02-10 20:25:00
3    https://www.ncei.noaa.gov/data/goes-space-envi...  1986-02-14 09:10:00
4    https://www.ncei.noaa.gov/data/goes-space-envi...  1986-05-04 09:35:00
..                                                 ...                  ...
104  https://www.ncei.noaa.gov/data/goes-space-envi...  2012-03-07 00:00:00
105  https://www.ncei.noaa.gov/data/goes-space-envi...  2012-03-13 17:10:00
106  https://www.ncei.noaa.gov/data/goes-space-envi...  2012-05-17 01:25:00
107  https://www.ncei.noaa.gov/data/goes-space-envi...  2012-07-06 23:00:00
108  https://www.ncei.noaa.gov/data/goes-space-envi...  2012-07-19 04:15:00

[109 rows x 2 columns]

In [ ]:
my_df_nsep.to_csv('/content/SEP_list.csv', index=False)

In [ ]:
# my_dates_sep[47]

In [ ]:
my_dates_sep = my_dates_sep1 + my_dates_sep2

In [ ]:
my_links_sep = my_links_sep1 + my_links_sep2

In [ ]:
my_dates_sep

['1986-02-06 06:15:00',
 '1986-02-07 10:10:00',
 '1986-02-10 20:25:00',
 '1986-02-14 09:10:00',
 '1986-05-04 09:35:00',
 '1988-03-25 21:40:00',
 '1988-06-30 09:00:00',
 '1988-10-12 04:55:00',
 '1988-11-08 12:25:00',
 '1988-12-14 10:40:00',
 '1988-12-16 08:35:00',
 '1989-03-10 18:45:00',
 '1989-03-23 19:25:00',
 '1989-05-22 00:00:00',
 '1989-06-18 16:15:00',
 '1989-07-25 08:35:00',
 '1989-08-12 13:55:00',
 '1989-08-16 01:05:00',
 '1989-08-17 01:30:00',
 '1989-08-19 19:10:00',
 '1989-08-22 02:05:00',
 '1989-09-29 10:00:00',
 '1989-10-19 12:25:00',
 '1989-10-22 17:05:00',
 '1989-10-24 17:35:00',
 '1989-10-29 02:20:00',
 '1989-11-15 06:35:00',
 '1989-11-30 11:45:00',
 '1990-05-21 22:10:00',
 '1990-05-24 20:45:00',
 '1990-05-26 20:45:00',
 '1990-05-28 05:15:00',
 '1990-07-25 22:20:00',
 '1991-03-22 22:40:00',
 '1991-05-13 01:35:00',
 '1991-06-04 03:35:00',
 '1991-06-05 11:35:00',
 '1991-06-11 02:05:00',
 '1991-06-15 06:30:00',
 '1991-10-30 06:10:00',
 '1992-05-08 15:35:00',
 '1992-06-25 17:45:00',
 '1992-10-30 17:00:00',
 '1992-11-02 03:10:00',
 '1993-03-04 12:10:00',
 '1993-03-12 17:00:00',
 '1994-02-20 01:35:00',
 '1994-10-19 22:35:00',
 '1997-11-04 05:50:00',
 '1997-11-06 11:45:00',
 '1998-04-20 09:35:00',
 '1998-05-02 13:30:00',
 '1998-05-06 07:55:00',
 '1998-08-24 21:50:00',
 '1998-09-30 13:05:00',
 '1998-11-14 05:00:00',
 '2000-06-10 16:40:00',
 '2000-07-14 10:00:00',
 '2000-07-22 11:15:00',
 '2000-09-12 11:30:00',
 '2000-10-16 06:40:00',
 '2000-11-08 22:40:00',
 '2000-11-24 04:55:00',
 '2000-11-24 14:50:00',
 '2000-11-25 00:55:00',
 '2001-01-28 15:40:00',
 '2001-04-02 10:55:00',
 '2001-04-02 21:30:00',
 '2001-04-09 15:20:00',
 '2001-04-12 09:35:00',
 '2001-04-15 13:15:00',
 '2001-04-18 02:10:00',
 '2001-05-20 06:00:00',
 '2001-06-15 16:15:00',
 '2001-09-24 09:30:00',
 '2001-10-22 14:25:00',
 '2001-11-04 16:00:00',
 '2001-11-22 22:30:00',
 '2001-12-26 04:30:00',
 '2002-04-21 00:40:00',
 '2002-08-22 01:45:00',
 '2002-08-24 00:45:00',
 '2003-05-28 00:15:00',
 '2003-05-31 02:10:00',
 '2003-10-26 17:20:00',
 '2003-10-28 09:50:00',
 '2003-10-29 20:35:00',
 '2003-11-02 17:00:00',
 '2003-11-04 19:25:00',
 '2004-09-19 16:45:00',
 '2004-11-10 01:55:00',
 '2005-01-17 06:55:00',
 '2005-01-20 06:35:00',
 '2005-06-16 20:00:00',
 '2005-08-22 16:45:00',
 '2005-09-07 17:15:00',
 '2006-12-06 18:25:00',
 '2006-12-13 02:10:00',
 '2011-06-07 06:15:00',
 '2011-08-04 03:40:00',
 '2011-08-09 07:45:00',
 '2011-09-06 22:10:00',
 '2012-01-23 03:35:00',
 '2012-01-27 17:35:00',
 '2012-03-07 00:00:00',
 '2012-03-13 17:10:00',
 '2012-05-17 01:25:00',
 '2012-07-06 23:00:00',
 '2012-07-19 04:15:00']

In [ ]:

all_data = []
index = 0
dropped_indices = []
for r in my_links_sep:



  if my_dates_sep[index][0:4] < '1997':  # we have different column names after this date in GOES data :\

    data = pd.read_csv(r, sep="\t", names = ['p'])

    data[['time_tag','e2_flux_ic','p1_flux','p2_flux','p3_flux','p4_flux','p5_flux','p6_flux','p7_flux',
          'a1_flux','a2_flux','a3_flux','a4_flux','a5_flux','a6_flux','p1_flux_c','p2_flux_c','p3_flux_c',
          'p4_flux_c','p5_flux_c','p6_flux_c','p7_flux_c','p1_flux_ic','p2_flux_ic','p3_flux_ic','p4_flux_ic',
          'p5_flux_ic','p6_flux_ic','p7_flux_ic']] = data["p"].apply(lambda x: pd.Series(str(x).split(",")))

    data = data.drop(['p'], axis = 1)
    

    start_string = my_dates_sep[index][0:7] + '-01' + ' ' + '00:00:00.000'  # defining the data start time of the csv file

    x1 = data[data['time_tag'] == start_string]

    y = x1.index # first time_tag

    df1 = data.iloc[y[0]:]

    df1 = df1.reset_index(drop = True)

    flare_string = my_dates_sep[index] + '.000'
    p = df1[df1['time_tag'] == flare_string] # flare stert time. .. 
    q = p.index
    #q[0] # flare start time index


    span = 180                        # SPAN ... 60 --- observation window is 5 hours (60 values) before the flare start time!!!!!
    df2 = df1.iloc[q[0]-span: q[0]]

    if q[0]-y[0] < span:  # if the flare start time plus span is greater than the length of the csv file, drop the data
      u = 5 # do nothing! or break!
      dropped_indices.append(index)  
    elif '-99999.0' in df2['p4_flux'].tolist() or '-99999.0' in df2['p5_flux'].tolist() or '-99999.0' in df2['p6_flux'].tolist(): # if there is missing value in selected data of span window of size span, drop the data
      u = 5 # do nothing! or break!  
      dropped_indices.append(index)  
    else:
      my_temp = df2['p6_flux'].append(df2['p5_flux'])
      yyy = my_temp.append(df2['p4_flux'])
      all_data.append(yyy)

    index += 1




  elif my_dates_sep[index][0:4] >= '1997' and my_dates_sep[index][0:4] < '2011' :

    data = pd.read_csv(r, sep="\t", names = ['p'])

    data[['time_tag','e1_flux_ic','e2_flux_ic','e3_flux_ic','p1_flux','p2_flux','p3_flux','p4_flux','p5_flux',
          'p6_flux','p7_flux','a1_flux','a2_flux','a3_flux','a4_flux','a5_flux','a6_flux','p1_flux_c','p2_flux_c',
          'p3_flux_c','p4_flux_c','p5_flux_c','p6_flux_c','p7_flux_c','p1_flux_ic','p2_flux_ic','p3_flux_ic',
          'p4_flux_ic','p5_flux_ic','p6_flux_ic','p7_flux_ic']] = data["p"].apply(lambda x: pd.Series(str(x).split(",")))


    data = data.drop(['p'], axis = 1)
    

    start_string = my_dates_sep[index][0:7] + '-01' + ' ' + '00:00:00.000'  # defining the data start time of the csv file

    x1 = data[data['time_tag'] == start_string]

    y = x1.index # first time_tag

    df1 = data.iloc[y[0]:]

    df1 = df1.reset_index(drop = True)

    flare_string = my_dates_sep[index] + '.000'
    p = df1[df1['time_tag'] == flare_string] # flare stert time. .. 
    q = p.index
    #q[0] # flare start time index


    span = 180                        # SPAN ... 60 --- observation window is 5 hours (60 values) before the flare start time!!!!!
    # df2 = df1.iloc[q[0]:q[0]-span]
    df2 = df1.iloc[q[0]-span: q[0]]
    # if q[0]+span > len(df1):  # if the flare start time plus span is greater than the length of the csv file, drop the data
    if q[0]-y[0] < span:  # if the flare start time minus span is less than the length of the csv file, drop the data
      u = 5 # do nothing! or break!
      dropped_indices.append(index)  
    elif '-99999.0' in df2['p4_flux'].tolist() or '-99999.0' in df2['p5_flux'].tolist() or '-99999.0' in df2['p6_flux'].tolist(): # if there is missing value in selected data of span window of size span, drop the dat
      u = 5 # do nothing! or break!  
      dropped_indices.append(index)  
    else:
      my_temp = df2['p6_flux'].append(df2['p5_flux'])
      yyy = my_temp.append(df2['p4_flux'])
      all_data.append(yyy)

    index += 1




  else:

    data = pd.read_csv(r, sep="\t", names = ['p'])

    data[['time_tag','P1E_NUM_PTS','P1E_QUAL_FLAG','P1E_UNCOR_FLUX','P1E_COR_FLUX','P1W_NUM_PTS','P1W_QUAL_FLAG','P1W_UNCOR_FLUX','P1W_COR_FLUX','P2E_NUM_PTS','P2E_QUAL_FLAG','P2E_UNCOR_FLUX','P2E_COR_FLUX','P2W_NUM_PTS','P2W_QUAL_FLAG','P2W_UNCOR_FLUX','P2W_COR_FLUX','P3E_NUM_PTS',
          'P3E_QUAL_FLAG','P3E_UNCOR_FLUX','P3E_COR_FLUX','P3W_NUM_PTS','P3W_QUAL_FLAG','P3W_UNCOR_FLUX','P3W_COR_FLUX','P4E_NUM_PTS','P4E_QUAL_FLAG','P4E_UNCOR_FLUX','P4E_COR_FLUX','P4W_NUM_PTS','P4W_QUAL_FLAG','P4W_UNCOR_FLUX','P4W_COR_FLUX','P5E_NUM_PTS','P5E_QUAL_FLAG','P5E_UNCOR_FLUX',
          'P5E_COR_FLUX','P5W_NUM_PTS','P5W_QUAL_FLAG','P5W_UNCOR_FLUX','P5W_COR_FLUX','P6E_NUM_PTS','P6E_QUAL_FLAG','P6E_UNCOR_FLUX','P6E_COR_FLUX','P6W_NUM_PTS','P6W_QUAL_FLAG','P6W_UNCOR_FLUX','P6W_COR_FLUX','P7E_NUM_PTS','P7E_QUAL_FLAG','P7E_UNCOR_FLUX','P7E_COR_FLUX','P7W_NUM_PTS',
          'P7W_QUAL_FLAG','P7W_UNCOR_FLUX','P7W_COR_FLUX']] = data["p"].apply(lambda x: pd.Series(str(x).split(",")))


    data = data.drop(['p'], axis = 1)
    

    start_string = my_dates_sep[index][0:7] + '-01' + ' ' + '00:00:00.000'  # defining the data start time of the csv file

    x1 = data[data['time_tag'] == start_string]

    y = x1.index # first time_tag

    df1 = data.iloc[y[0]:]

    df1 = df1.reset_index(drop = True)

    flare_string = my_dates_sep[index] + '.000'
    p = df1[df1['time_tag'] == flare_string] # flare stert time. .. 
    q = p.index
    #q[0] # flare start time index


    span = 180                        # SPAN ... 60 --- observation window is 5 hours (60 values) before the flare start time!!!!!
    # df2 = df1.iloc[q[0]:q[0]-span]
    df2 = df1.iloc[q[0]-span: q[0]]
    # if q[0]+span > len(df1):  # if the flare start time plus span is greater than the length of the csv file, drop the data
    if q[0]-y[0] < span:  # if the flare start time minus span is less than the length of the csv file, drop the data
      u = 5 # do nothing! or break!
      dropped_indices.append(index)  
    elif '-99999.0' in df2['P4W_UNCOR_FLUX'].tolist() or '-99999.0' in df2['P5W_UNCOR_FLUX'].tolist() or '-99999.0' in df2['P6W_UNCOR_FLUX'].tolist(): # if there is missing value in selected data of span window of size span, drop the dat
      u = 5 # do nothing! or break!  
      dropped_indices.append(index)  
    else:
      my_temp = df2['P6W_UNCOR_FLUX'].append(df2['P5W_UNCOR_FLUX'])
      yyy = my_temp.append(df2['P4W_UNCOR_FLUX'])
      all_data.append(yyy)

    index += 1

<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:46: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:47: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:95: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:96: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:95: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:96: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:95: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:96: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:95: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:96: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:95: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:96: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:95: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:96: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:95: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:96: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:95: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:96: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:95: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:96: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:95: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:96: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:95: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:96: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:95: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:96: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:95: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])
<ipython-input-65-56e303877b81>:96: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  yyy = my_temp.append(df2['p4_flux'])
<ipython-input-65-56e303877b81>:95: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  my_temp = df2['p6_flux'].append(df2['p5_flux'])

In [ ]:
DF = pd.DataFrame()
my = pd.Series(all_data)
for sample,data in my.items():
  c = data.reset_index(drop = True)
  DF = DF.append(c,ignore_index=True)

<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)
<ipython-input-66-99feedb46e78>:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  DF = DF.append(c,ignore_index=True)

In [ ]:
DF

,0,1,2,3,4,5,6,7,8,9,...,530,531,532,533,534,535,536,537,538,539
0,3.0000E-03,2.7400E-03,3.6500E-03,3.8400E-03,2.9500E-03,3.3600E-03,3.4500E-03,2.7900E-03,3.0000E-03,3.5600E-03,...,7.3800E-02,8.7700E-02,6.6100E-02,6.4900E-02,7.7100E-02,7.1100E-02,5.9300E-02,7.2800E-02,7.0500E-02,6.4000E-02
1,1.2400E-02,1.2500E-02,1.2300E-02,1.2300E-02,1.2400E-02,1.3100E-02,1.3200E-02,1.4000E-02,1.2600E-02,1.3500E-02,...,1.4300E+00,1.4800E+00,1.4700E+00,1.5500E+00,1.4100E+00,1.4900E+00,1.4600E+00,1.5900E+00,1.5100E+00,1.5000E+00
2,2.0200E-03,2.5500E-03,2.7400E-03,2.4000E-03,3.2200E-03,2.4000E-03,3.0800E-03,2.0500E-03,2.3100E-03,1.8500E-03,...,1.5700E-02,1.5700E-02,1.4500E-02,2.1700E-02,2.0100E-02,1.5700E-02,1.9000E-02,1.3400E-02,2.0100E-02,1.9000E-02
3,2.7900E-03,3.7000E-03,2.6400E-03,3.6500E-03,3.0300E-03,2.6000E-03,2.6900E-03,2.5000E-03,2.1000E-03,2.6000E-03,...,1.7900E-02,1.0300E-02,2.0100E-02,1.3400E-02,1.3400E-02,1.3400E-02,1.5700E-02,1.9000E-02,2.3500E-02,1.1400E-02
4,3.2700E-03,3.2500E-03,3.9400E-03,3.3000E-03,3.9400E-03,3.2700E-03,3.1500E-03,3.3200E-03,2.6000E-03,3.2200E-03,...,1.5700E-02,1.6800E-02,1.7900E-02,1.6500E-02,2.5700E-02,1.4500E-02,1.6800E-02,1.5500E-02,1.5700E-02,1.9000E-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,6.0976E-03,5.1829E-03,6.0298E-03,5.2846E-03,5.8943E-03,6.9444E-03,4.4377E-03,5.5894E-03,6.2669E-03,5.2846E-03,...,4.2052E-02,3.7453E-02,3.8110E-02,4.1395E-02,4.0081E-02,3.8110E-02,4.8623E-02,4.2709E-02,3.8110E-02,3.8110E-02
70,5.1152E-03,4.2683E-03,5.1490E-03,5.0474E-03,4.5054E-03,5.2507E-03,4.8442E-03,4.6748E-03,4.8780E-03,5.3862E-03,...,2.8911E-02,3.6796E-02,3.0225E-02,3.4167E-02,3.5481E-02,3.6139E-02,3.4824E-02,3.4167E-02,4.0738E-02,3.1539E-02
71,4.4377E-03,3.5908E-03,4.4715E-03,5.4878E-03,4.8442E-03,3.8618E-03,4.7087E-03,4.7764E-03,4.7426E-03,4.6409E-03,...,8.8704E-02,9.1332E-02,8.4104E-02,9.5274E-02,8.4761E-02,9.7903E-02,7.6877E-02,8.1476E-02,1.0382E-01,9.5932E-02
72,3.3198E-03,3.4214E-03,3.4892E-03,3.5230E-03,3.9634E-03,3.2520E-03,3.4214E-03,3.1165E-03,3.4892E-03,3.4892E-03,...,9.9874E-02,9.1989E-02,9.3960E-02,8.8704E-02,8.8704E-02,6.3078E-02,5.4536E-02,4.9280E-02,4.6652E-02,4.0081E-02
73,4.4377E-03,4.5393E-03,4.3360E-03,3.9973E-03,5.0136E-03,3.5569E-03,4.0312E-03,3.8957E-03,3.7263E-03,3.2520E-03,...,1.3798E-02,1.8398E-02,1.7741E-02,1.5770E-02,2.0533E-02,2.0369E-02,1.3798E-02,1.5112E-02,1.1170E-02,1.5112E-02

In [ ]:
DF.to_csv('/content/SEP_data_100MeV.csv', index=False)

In [ ]:
a = pd.read_csv("/content/SEP_data_100MeV.csv", header = 0)

In [ ]:
a

,0,1,2,3,4,5,6,7,8,9,...,530,531,532,533,534,535,536,537,538,539
0,0.003000,0.002740,0.003650,0.003840,0.002950,0.003360,0.003450,0.002790,0.003000,0.003560,...,0.073800,0.087700,0.066100,0.064900,0.077100,0.071100,0.059300,0.072800,0.070500,0.064000
1,0.012400,0.012500,0.012300,0.012300,0.012400,0.013100,0.013200,0.014000,0.012600,0.013500,...,1.430000,1.480000,1.470000,1.550000,1.410000,1.490000,1.460000,1.590000,1.510000,1.500000
2,0.002020,0.002550,0.002740,0.002400,0.003220,0.002400,0.003080,0.002050,0.002310,0.001850,...,0.015700,0.015700,0.014500,0.021700,0.020100,0.015700,0.019000,0.013400,0.020100,0.019000
3,0.002790,0.003700,0.002640,0.003650,0.003030,0.002600,0.002690,0.002500,0.002100,0.002600,...,0.017900,0.010300,0.020100,0.013400,0.013400,0.013400,0.015700,0.019000,0.023500,0.011400
4,0.003270,0.003250,0.003940,0.003300,0.003940,0.003270,0.003150,0.003320,0.002600,0.003220,...,0.015700,0.016800,0.017900,0.016500,0.025700,0.014500,0.016800,0.015500,0.015700,0.019000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,0.006098,0.005183,0.006030,0.005285,0.005894,0.006944,0.004438,0.005589,0.006267,0.005285,...,0.042052,0.037453,0.038110,0.041395,0.040081,0.038110,0.048623,0.042709,0.038110,0.038110
70,0.005115,0.004268,0.005149,0.005047,0.004505,0.005251,0.004844,0.004675,0.004878,0.005386,...,0.028911,0.036796,0.030225,0.034167,0.035481,0.036139,0.034824,0.034167,0.040738,0.031539
71,0.004438,0.003591,0.004471,0.005488,0.004844,0.003862,0.004709,0.004776,0.004743,0.004641,...,0.088704,0.091332,0.084104,0.095274,0.084761,0.097903,0.076877,0.081476,0.103820,0.095932
72,0.003320,0.003421,0.003489,0.003523,0.003963,0.003252,0.003421,0.003116,0.003489,0.003489,...,0.099874,0.091989,0.093960,0.088704,0.088704,0.063078,0.054536,0.049280,0.046652,0.040081
73,0.004438,0.004539,0.004336,0.003997,0.005014,0.003557,0.004031,0.003896,0.003726,0.003252,...,0.013798,0.018398,0.017741,0.015770,0.020533,0.020369,0.013798,0.015112,0.011170,0.015112